@import 'tailwindcss';

@theme {
  --color-primary: #0c52ea;
  --color-accent: #f5a524;
  --color-primaryText: #1c1917;
  --color-secondaryText: #4b4745;
  --color-infoText: #878787;
}

@layer base {
  body {
    @apply text-primaryText bg-stone-50;
  }

  a {
    @apply hover:text-primary cursor-pointer transition-colors;
  }

  button {
    @apply cursor-pointer transition-all duration-300 ease-in-out;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded bg-stone-300;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-stone-400;
  }
}

@layer components {
  /* button */
  .btn {
    @apply flex items-center justify-center gap-1 rounded-lg px-6 py-2.5 text-sm font-medium transition-colors;
  }

  .small-btn {
    @apply flex items-center gap-1 rounded-lg px-3 py-1.5 text-[10px] font-bold tracking-tighter;
  }

  .ghost-btn {
    @apply from-primary to-accent hover:from-accent hover:to-primary bg-linear-to-r text-white;
  }

  .primary-btn {
    @apply bg-primary hover:bg-primary/90 text-white;
  }

  .secondary-btn {
    @apply text-secondaryText bg-stone-100 hover:bg-stone-200;
  }

  .icon-btn {
    @apply text-secondaryText hover:text-primary hover:bg-primary/10 flex items-center justify-center rounded-full p-1;
  }

  /* input */
  .input {
    @apply focus:border-primary w-full rounded-xl border border-white/10 bg-black/50 px-4 py-3 text-sm transition-all focus:outline-none;
  }
}
